*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
TMLEC_QRScan/model_setup/
TMLEC_QRScan/temp/
TMLEC_QRScan/opencv/
*.zip
*.dll
*.lib
